.Footer {
    padding: 10px 0 0 0;
    background-color: #000000;
}

.Footer1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha em telas menores */
}

.LogoFooter {
    width: 200px;
    height: 200px;
    background-color: var(--corQui);
    border-radius: 50%;
}

.LinksFooter {
    color: var(--corQui);
    text-align: center;
    text-decoration: none;
}

.LinksFooter ul {
    list-style: none;
}

.LinksFooter li:hover {
    color: var(--corSec);
    cursor: pointer;
}

.IconesFooter {
    gap: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os ícones se ajustem em várias linhas */
    justify-content: center;
}

.IconesFooter hr {
    margin: 10px;
}

.IconesFooter h2 {
    color: var(--corQui);
}

.Icones {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permite que os ícones se ajustem em várias linhas */
    justify-content: center;
}

.Icones div {
    color: var(--corQui);
    border: .3px solid var(--corQui);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

.Icones div:hover {
    background-color: var(--corQui);
    color: var(--corPri);
    transition: .2s all ease-out;
}

.Footer2 {
    width: 100%;
    padding: 10px;
    background-color: var(--corQui);
    margin-top: 10px;
    text-align: center;
}

.footer-logo {
    width: 200px;
    border-radius: 50%;
}

/* Responsividade */

/* Para telas médias (Tablets e telas de 768px até 1024px) */
@media (max-width: 1024px) {
    .LogoFooter {
        width: 150px;
        height: 150px;
    }

    .LinksFooter {
        margin-top: 20px;
    }

    .Footer1 {
        flex-direction: column; /* Alinha os itens verticalmente */
        justify-content: center;
        align-items: center;
    }

    .Icones {
        width: 100%;
        justify-content: center;
    }

    .Footer2 {
        text-align: center;
    }
}

/* Para telas pequenas (dispositivos móveis, max-width: 768px) */
@media (max-width: 768px) {
    .Footer1 {
        flex-direction: column; /* Alinha os itens verticalmente */
    }

    .LogoFooter {
        width: 120px;
        height: 120px;
    }

    .LinksFooter {
        margin-top: 20px;
    }

    .Icones {
        gap: 15px; /* Reduz o espaçamento entre os ícones */
    }

    .Footer2 {
        text-align: center;
        padding: 15px;
    }

    .footer-logo {
        width: 150px;
    }
}

/* Para telas muito pequenas (dispositivos móveis compactos, max-width: 480px) */
@media (max-width: 480px) {
    .LogoFooter {
        width: 100px;
        height: 100px;
    }

    .LinksFooter {
        margin-top: 15px;
    }

    .Icones {
        gap: 10px; /* Menor espaçamento entre os ícones */
    }

    .Footer2 {
        padding: 20px;
    }

    .footer-logo {
        width: 120px;
    }
}
