/* Container principal */
.adminContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.adminContainer h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Seções de cada setor */
.section {
    margin-bottom: 30px;
}

.section h2 {
    color: var(--corPri);
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Contêiner da tabela com rolagem horizontal */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite a rolagem horizontal */
}

/* Tabela */
table {
    width: 100%;
    min-width: 800px; /* Garante que a tabela tenha uma largura mínima maior do que o contêiner */
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--corPri);
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Mensagem de sucesso */
.successMessage {
    margin-top: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

/* Botões */
button {
    background-color: #f44336; /* Cor vermelha */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #d32f2f;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .adminContainer {
        width: 100%;
        padding: 15px;
        overflow-x: auto;
        background-color: #333;
    }

    .section h2 {
        font-size: 20px;
    }

    table th, table td {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .adminContainer {
        width: 95%;
        padding: 10px;
    }

    .adminContainer h1 {
        font-size: 18px;
    }

    .section h2 {
        font-size: 18px;
    }

    table th, table td {
        padding: 6px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
